<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDmuZjWevpgypNY-fbecFxG8i2-Mkx1JhM</string>
	<key>GCM_SENDER_ID</key>
	<string>239734479955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.szufladka</string>
	<key>PROJECT_ID</key>
	<string>szufladka-9a17b</string>
	<key>STORAGE_BUCKET</key>
	<string>szufladka-9a17b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:239734479955:ios:29662718d27103f6fbbaa6</string>
</dict>
</plist>